:host {
  padding: 64px 32px;
  appearance: auto;
  width: 100%;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

/* .new-task {
  background-color: hsl(256, 34%, 88%);
  padding: 8px;
  border-radius: 48px;
  text-decoration: none;
  color: inherit;
} */

h2 {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  padding: 8px 0;
  margin-bottom: 16px;
}
